/* Set a style for the submit/register button */
.deleteButton{
  background-color: #c9302c;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.deleteButton:hover {
  opacity:1;
}
.UpdateButton{
  background-color: #c9302c;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.UpdateButton:hover {
  opacity:1;
}
.Subitbutton{
  background-color:#00FFFF;
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.Subitbutton:hover {
  opacity:1;
}
.delete{
  background-color: #c9302c;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}
.delete:hover {
  opacity:1;
}
.update{
  background-color: #c9302c;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.8;
}
.update:hover {
  opacity:1;
}

